body {
    background-image: url("../images/craft_back.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

h1 {
    color: #0066ff
  }