body {
    background-image: url("../images/craft_back.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

h1 {
    color: #ffffff;
    text-align: center;
  }

  p {
    color: #ffffff;
    text-align: center;
  }